<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/main.css" />
</head>
<body>
    <header class="site-header" role="banner">
        <div class="wrapper">
            <a class="site-title" href="/">Justin Miller</a>
            <nav class="site-nav">
                <a class="page-link" href="/about/">About</a>
            </nav>
        </div>
    </header>
    <main class="page-content" aria-label=="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    <footer class="site-footer">
        <div class="wrapper">
            <h2 class="footer-heading">Justin Miller</h2>
            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">Contact:</div>
                <div class="footer-col footer-col-2">justinmiller Github</div>
                <div class="footer-col footer-col-3">justinmiller11s@gmail.com</div>

            </div>
        </div>
    </footer>
</body>  
</html>